<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<main style="margin-bottom: 10%;">

  <div style="margin: auto; padding: auto;">
    <figure class="text-center">
      <h1 class="display-1">Business Contact List</h1>
      <a class="btn btn-primary" href="contactBook/list" type="button">Add New Contact</a>
      </figure>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Contact</th>
          <th scope="col">Email</th>
          <% if(typeof displayName == 'string' && displayName) { %>
          <th scope="col" colspan="2">Action</th>
          <% } %>
        </tr>
      </thead>
      <tbody>
        <%for(let count = 0; count < BookList.length; count++) { %>
        <tr>
          <td> <%= BookList[count].contactName %> </td>
          <td> <%= BookList[count].contactPhone %> </td>
          <td> <%=BookList[count].contactEmail %> </td>
          <% if(typeof displayName == 'string' && displayName) { %>
          <td><a class="btn btn-info" href="contactList/Update/<%= BookList[count]._id %>" type="button">Update</a></td>
          <td><a class="btn btn-danger" href="contactList/delete/<%= BookList[count]._id %>" type="button">Delete</a></td>
          <% } %> 
        </tr>
        <% } %>

        </tr>
      </tbody>
    </table>

    </figure>
  </div>

</main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>